{% extends "base.html" %} 

{% block content %}

<h1 class="page_title">マイレシピ</h1>
<div id="myrecipe_result">
    <p class="btn btn-link" id="select" onclick="clickBtn3()">選択</p>
    <br></br>
    {% for i in myrecipe %}
    <button class="recipe-btn" onclick="location.href='{{ i.link }}'">
        <article class="article-myrecipe">
            <figure>
                <img src="{{ i.img }}" />
            </figure>
            <h5>{{ i.title }}</h5>
        </article>
    </button>
    {% endfor %}
</div>


<div id="select-myrecipe-delete">
	<form action={% url 'app:myrecipe_delete' %} method="post">
		{% csrf_token %}
		<p class="btn btn-link" id="select" onclick="clickBtn4()">戻す</p>
		<br></br>
		{% for i in myrecipe %}
            <article class="article-myrecipe">
                <label class="label" for="{{ i.link }}">
                <input class="recipe-btn" type="checkbox" name="recipe[]" id="{{ i.link }}" value="{{ i.id }}">
                    <figure>
                        <img src="{{ i.img }}">
                    </figure>
                    <h5>{{ i.title }}</h5>
                </label>
            </article>
		{% endfor %}
		<br></br>
		<input class="btn btn-outline-success" type="submit" value="削除する">
	    <br></br>
	</form>
</div>
{% endblock %}
